/* ---------------Universal Styles------------ */

body {
    font-family: 'EB Garamond', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.text {
    background: linear-gradient(#f94858, #8758f1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bolder;
}

span {
    color: rgb(255, 66, 165);
}

.btn-primary {
    color: white;
    background: rgb(255, 66, 165);
    border: none;
    padding: 14px 24px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
}

.btn-secondary {
    color: white;
    background: #4ec5f7;
    border: none;
    padding: 14px 24px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
}

p {
    color: #534C64;
}

.icon {
    margin-right: 10px;
}

h1 {
    font-size: xx-large;
}

/* ------------------------ */

/* ------------------Nav Styles------------- */

#navbar {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}

#nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

#nav-brand {
    font-size: 2em;
}

#nav-items {
    display: flex;
}

#nav-items a {
    text-decoration: none;
    align-items: center;
    margin: auto 10px;
    color: black;
}

#follow {
    display: flex;
    align-items: center;
    background-color: rgb(11, 2, 35, 10%);
    height: 30px;
    padding: 8px;
    margin: auto;
    border-radius: 5px;
}

/*--------Banner Styles-------- */
#banner {
    display: flex;
    justify-content: center;
}

.paragraphs {
    display: flex;
    align-items: center;
}

#banner p {
    margin-left: 5px;
}

#banner img {
    height: 90%;
    margin: 0 auto;
}

.banner-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 500px;
    padding-left: 20px;
}

#text-div {
    background-image: url("../images/Group\ 14.png");
    background-repeat: repeat;
    background-size: cover;
    /* background-color: #4ec5f7; */
}

.banner-div h1 {
    font-weight: bolder;
    margin-bottom: 0;
}

#banner-p p {
    margin: 15px 0;
}

#goat {
    margin: 0px;
    font-weight: 900;
    font-size: 4rem;
}


/*------------Gamer----------*/

#gamers {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 66, 165, 3%);
}

.gamer {
    height: 70vh;
}

.gamer img {
    width: 100%;
}

#gamer-img {
    width: 45vw;
}

#gamer-text {
    width: 35vw;
    text-align: right;
}

/*---------Online Games-------*/
#online-games-text {
    text-align: center;
}

#games-card {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    justify-content: center;
}

.card {
    width: 20vw;
    margin: 0 10px;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}

.overlay i {
    color: white;
    font-size: 48px;
}

.overlay p {
    color: rgb(255, 66, 165);
    font-size: 18px;
    margin-top: 10px;
}

.card:hover .overlay {
    opacity: 1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*---------Play Instantly---------*/
#play-instantly {
    display: flex;
    justify-content: center;
}

.play-instant {
    width: 30vw;
    height: 70vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#play-text {
    display: flex;
    justify-content: center;
}

.image-container {
    position: relative;
    margin-left: 10vw;
}

.image-container img {
    width: 100%;
}

.small-image-container {
    position: absolute;
    bottom: -40px;
    left: -40px;
}

.small-image-container img {
    width: 40%;
    height: auto;
    display: block;
}

/*--------Footer--------*/
footer {
    background-color: #0b0223;
    text-align: center;
    height: 50vh;
    padding-top: 15vh;
}

#footer-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.fa-brands {
    font-size: 30px;
    color: #fff;
    margin: 15px;
}

footer a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

#footer-p {
    display: flex;
    justify-content: center;
    padding: 15px;
}

footer p {
    margin: 0 15px;
    padding: 10px;
}